<!-- Main content of the home page -->
<main id="content" class="about">
    <!--<section class="pad blue_background">
        <h1 class="one_line">Keeping you up to speed with technology</h1>
    </section>-->
    <section class="header-padding pad">
        <div class="descr_section">
            <h2 class="center">Keeping you up to speed with technology</h2>
            <img src="assets/images/page_bg/bg_remote.jpg" alt="bg_remote">
            <p>
                Quarterhorse Technology Incorporated (QTI) was founded in 1999 as a systems integrator. The vision was to create a bridge that would connect the needs of companies with solutions made available by vendors.  Throughout our history, we have cemented a close relationship with vendors through certifications and long term partnerships. These relationships allowed QTI to understand the needs of the customers and present solutions with leading edge technology to fit clients’ business plans.  Hardware and software longevity and solutions that complete all opportunities and cost, are factors that helped develop the relationship.  
            </p>
            <p>
                QTI believes that work should not be limited to a single destination. QTI both embraced and provided new technology solutions that allowed for a combination of regional and remote workforce. Our main office in NYC is next to Penn Station, which staffed dispatchers and onsite engineers. Adhering to our philosophy, we have enhanced our team with talented staff in Pennsylvania, Wisconsin, and Florida.
            </p>
            <p>
                In addition to main office in NYC, all hardware and datacenter services are strategically located in East and West Coast Datacenters.
            </p>
        </div>
        <!--<div class="descr_image center">
            <figure>
                <img style="" src="assets/images/logos/bg_logo_cropped.png" alt="LOGO">
                <figcaption>
                    <h5 class="icon_underheading center"><b>Important Information</b></h5>
                    <ul class="list gray_caption">
                        <li>Experience &amp; Customized Solutions</li>
                        <li>Small to Major Assistance</li>
                        <li>Certified IT professionals</li>
                        <li>Solutions tailored to your budget</li>
                    </ul>
                </figcaption>				
            </figure>
        </div>-->
        <div class="clear"></div>
    </section>
    <!--<section class="pad light_gray">
        <div class="grid">
            <figure>
                <img class="photo" src="assets/images/employees/kenneth_fletcher.jpg" alt="Boss">
                <figcaption><h5><b>Kenneth Fletcher</b></h5>Founder &amp; CEO</figcaption>
            </figure>
            <figure>
                <img class="photo" src="assets/images/employees/josh_simon.jpg" alt="Employee">
                <figcaption><h5><b>Josh Simon</b></h5>CIO</figcaption>
            </figure>
            <figure>
                <img class="photo" src="assets/images/employees/frank_davino.jpg" alt="Employee">
                <figcaption><h5><b>Frank Davino</b></h5>Systems Engineer</figcaption>
            </figure>
            <figure>
                <img class="photo" src="assets/images/employees/josh_melo.jpg" alt="Employee">
                <figcaption><h5><b>Josh Melo</b></h5>Tier 2 Printer Tech</figcaption>
            </figure>
            <figure>
                <img class="photo" src="assets/images/employees/amy_liao.jpg" alt="Employee">
                <figcaption><h5><b>Amy Liao</b></h5>Operations Manager</figcaption>
            </figure>
        </div>
    </section>-->
    <!--<div class="sharing_sidebar icons">
        <a href="https://www.facebook.com/pages/Quarterhorse-Technology/158533110847635" target="_blank">
            <img src="assets/images/icons/SVG/facebook.svg" alt="Facebook">
        </a>
        <a href="https://www.linkedin.com/company/quarterhorse-technology-inc" target="_blank">
            <img src="assets/images/icons/SVG/linkedin.svg" alt="LinkedIn" >
        </a>
    </div>-->
</main>	