<!-- Main content of the home page -->
<main id="content">
    <section class="pad header-padding">
        <h2 class="one_line center">Contact Us</h2>
    </section>
    <section class="pad">
        <div class="descr">
            <p>
                We have been in business for over 15 years and we have learned that clients have unique needs.  Our service offerings are
                constantly being expanded to meet those needs.  If your needs are for Time and Materials, Staff Support of your IT
                Department, Project Management, Managed Services or a Trusted Advisor, QTI is here to Partner with you.
            </p>
            <p>
                QTI also provides Executive Search Services specializing in the placement of Information Technology Professionals, Risk
                and Front Office, Attorneys, Accountants and Office Support Staff. We also provide businesses with bookkeeping, accounts
                payable, accounts receivable and payroll staff. Our Permanent and Contract Resources will be tailored to your Business
                needs.
            </p>
<!--          descr light_gray gray_shadow-->
            <div class="" style="padding-bottom: 10px;">
                <h4 class="center">
                    See How Quarterhorse Technology Can Help:
                </h4>
                <ul class="list">
                    <li>Fixed IT Costs</li>
                    <li>Solutions Expertise</li>
                    <li>Compliance</li>
                    <li>Disaster/Business Recovery</li>
                    <li>Project Management</li>
                    <li>Migrations</li>
                    <li>Infrastructure Upgrades</li>
                    <li>Security Analysis</li>
                </ul>
            </div>
        </div>
        <div class="descr_image center">
            <figure>
                <img style="" src="assets/images/page_bg/bg_people.png" alt="LOGO">
<!--
                <figcaption>
                    <h5 class="icon_underheading center"><b>Important Information</b></h5>
                    <ul class="list gray_caption">
                        <li>Experience &amp; Customized Solutions</li>
                        <li>Small to Major Assistance</li>
                        <li>Certified IT professionals</li>
                        <li>Solutions tailored to your budget</li>
                    </ul>
                </figcaption>				
-->
            </figure>
        </div>
        <div class="clear"></div>
    </section>
</main>