<!-- Main content of the home page -->
<main id="content">
    <section class="background_beige center">
        <div class="cycle-slideshow"
                    data-cycle-loader="wait"
                    data-cycle-timeout="10000"
                    data-cycle-pager="#thumbnail-pager"
                    data-cycle-slides=".cycle-slide"
                    data-cycle-pager-template=""
                    >
            <div class="cycle-slide">
                <a ui-sref="partners"><img src="assets/images/page_bg/bg_network.jpg"></a>
                <div class="cycle-overlay">
                    <h1>Procurement</h1>
                    <p>
                        Our experienced team can help with small and large technology acquisitions.  We will help find the right solution for your company.
                    </p>
                </div>
            </div>
            <div class="cycle-slide">
                <a ui-sref="services"><img src="assets/images/page_bg/bg_cables.jpg"></a>
                <div class="cycle-overlay">
                    <h1>Managed Services</h1>
                    <p>
                        QTI provides managed service packages that helps companies utilize our technology services to streamline process and help with budgets.
                    </p>
                </div>
            </div>
            <div class="cycle-slide">
                <a ui-sref="services"><img src="assets/images/page_bg/bg_workstations.jpg"></a>
                <div class="cycle-overlay staffing">
                    <h1>Recruiting and Staffing Resources</h1>
                    <p>
                        Leverage QTI's trained IT resources to provide backup for your internal IT professional for large projects, vacations, or disasters.
                    </p>
                </div>
            </div>
        </div>
        <div id="thumbnail-pager" class="cycle-pager">
            <img src="assets/images/page_bg/bg_network.jpg">
            <img src="assets/images/page_bg/bg_cables.jpg">
            <img src="assets/images/page_bg/bg_workstations.jpg">
        </div>
    </section>
    <section class="pad info_section">
        <div class="descr light_gray gray_shadow" style="padding-bottom: 10px;">
            <h4 class="center">
                See How Quarterhorse Technology Can Help:
            </h4>
            <ul class="list">
                <li>Fixed IT Costs</li>
                <li>Solutions Expertise</li>
                <li>Compliance</li>
                <li>Disaster/Business Recovery</li>
                <li>Project Management</li>
                <li>Migrations</li>
                <li>Infrastructure Upgrades</li>
                <li>Security Analysis</li>
            </ul>
        </div>
        <div class="descr_image special_margin">			
            <img width="100%" src="assets/images/partner_logos/logo_sonicwall.png" alt="SonicWall Logo">
        </div>
        <div class="clear"></div>
    </section>
    <!--<section class="pad gray_border">
        <div class="center">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSonicWALLandOneIdentity%2Fvideos%2F10152594330533859%2F&show_text=0&width=560" 
                            width="560" height="315" style="border:none;overflow:hidden" scrolling="no" 
                            frameborder="0" allowTransparency="true" allowFullScreen="true">
            </iframe>
            <p class="iframe_caption">
                Ken Fletcher (CEO) is interviewed by Amelia Hadfield, Dell Software Group at Dell Peak Performance 2014. He shares his insights on the event.
            </p>
        </div>
    </section>-->
    <!--<div class="sharing_sidebar icons">
        <a href="https://www.facebook.com/pages/Quarterhorse-Technology/158533110847635" target="_blank">
            <img src="assets/images/icons/SVG/facebook.svg" alt="Facebook">
        </a>
        <a href="https://www.linkedin.com/company/quarterhorse-technology-inc" target="_blank">
            <img src="assets/images/icons/SVG/linkedin.svg" alt="LinkedIn" >
        </a>
    </div>-->
</main>